<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"  />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LEGIONofLENDAS">

        <activity android:name=".LevelUp"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Ranking"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".MenuAmigoOpcoes"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".MenuLutaOpcoes"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".ParseBatalha"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".QrCamera"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".QrcodeStarter"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".Inventory"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".Shop"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".MenuPrincipal"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".CharCreationInfo"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LEGIONofLENDAS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>